.invitation{
    width:400px;
    height:368px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
}

.img{
    width:100%;
    height:128px;
}

img{
    width:100%;
    height:100%;
    object-fit: cover;
}

.title{
    padding: 24px 24px 16px 24px;
    font-size: 20px;
    font-weight: 600;
}

.description{
    padding: 0 24px;
    font-size: 14px;
}

form{
    padding: 16px 24px 24px 24px;
}

.form-actions{
    padding:16px 24px 24px 24px;
}


