# ===== .NET =====
bin/
obj/
.vs/
*.user
*.suo

# ===== Node / Angular =====
node_modules/
dist/
.angular/

# ===== Logs =====
*.log

# ===== IDE =====
.vscode/
.idea/

# ===== OS =====
.DS_Store
Thumbs.db