
.columns{
    padding: 0 24px 24px 20px;
    display: flex;
    gap:12px;
    min-height: 0;
    align-items: stretch;

}

.space{
    display: flex;
    align-items: center;
    padding-left: 20px;
    gap:8px
}

.team{
    width:16px;
    height:16px;
}

.columns-wrapper{
    width: 100%;
    overflow-y: auto;   
    scroll-behavior: smooth;
    height:calc(100vh - 120px);
}

.project{
    width: 100%;
}

button{
    background-color: transparent;
    color: var(--text-secondary);
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 8px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
    width:fit-content;
    height: fit-content;
    border:2px solid #F8F8F8;
}

.plus{
    width: 16px;
    height: 16px;
}

.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
  opacity: 0;
}

cdk-drag-animating{
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) !important;
}





