/* You can add global styles to this file, and also import other style files */
@import '@angular/cdk/overlay-prebuilt.css';


*{
    box-sizing: border-box;
}
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
}


.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
    pointer-events: none; /* Allows the mouse to "see through" the item to the column below */
}

.cdk-drag-placeholder {
    opacity: 0.3 !important; /* Shows where the item WILL land */
}

/* Global Styles for the App Loading Screen */
.app-loading-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  img {
    width: 120px;
    margin-bottom: 20px;
    /* Optional: subtle pulse effect on logo */
    animation: pulse 2s infinite ease-in-out;
  }
}

.spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #0052cc; // Jira Official Blue
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

/* Animations */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes pulse {
  0% { opacity: 0.8; transform: scale(0.95); }
  50% { opacity: 1; transform: scale(1); }
  100% { opacity: 0.8; transform: scale(0.95); }
}
