

.column{
    width: 270px;
    background-color: #F8F8F8;  
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100%;
}

.header{
    height:48px;
    width:100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 15px;
    position: sticky;
    top: 0;
    z-index: 1;
    background-color:  #F8F8F8;
}

.header .title{
    font-size: 16px;
    font-weight: 600;
    display: flex;
}

.count{
    margin-left: 8px;
    background-color: #E0E0E0;
    width:20px;
    height:20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}


.workitem{
    background-color: #ffffff;
    height:109.6px;
    width:260px;
    padding-left: 10px;
    margin-top: 3px;
    cursor: pointer;
}


.cdk-drag-preview {
  border: none;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow:
    0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
.cdk-drag-placeholder {
  opacity: 0;
}

cdk-drag-animating{
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1) !important;
}

.workitem .head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    
}

.dots{
    width:20px;
    height:20px;
    padding:4px;
    cursor: pointer;
}

.options{
    position: absolute;
    top:24px;
    right:0;
    width:120px;
    background-color: #ffffff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    z-index: 10;
}

.create{
    width:260px;
    height:32px;
    padding: 0 10px;
    margin:2px 0;
    display: flex;
    align-items: center;
    cursor: pointer;
}

button{
    appearance: none;
    background: none;
    border: none;
}

.create .plus{
    width:14px;
    height:14px;
    margin-right: 4px;
}