


.whitebox{
    position: absolute;
    width: 100%;
    height:100%;
    z-index: -1;
    background-color: rgb(250, 251, 252);
    background-image: url(../../../../assets/images/default_left.svg),url(../../../../assets/images/default_right.svg);
    background-position: left bottom , right bottom;
    background-repeat: no-repeat,no-repeat;
    background-attachment: fixed,fixed;
    
}

@media (max-width: 1200px) {
    .whitebox {
        background-size: calc(-232px + 50vw), calc(-232px + 50vw), cover;
    }
}

.container{
    height: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 50px 0px;
}

.main{
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    width: 400px;
    padding: 32px 40px;
    background: rgb(255, 255, 255);
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    box-sizing: border-box;
    color: #44546F;
}

.header{
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    text-align: center;
    margin-bottom: 16px;
}

.logo{
    height:30px;
    display: flex;
    gap: 10px;
}

.logo img{
    width:100%;
    height:28px;
}

.logo span{
    color:#1868DB;
    font-weight: bold;
    font-size: 30px;
}

.instruction{
    display: flex;
    flex-direction: column;
    padding-top: 24px;
    -webkit-box-align: center;
    align-items: center;
    color:#172b4d;
    font-weight:653;
    font-size: 1rem;
    line-height: 1.25rem;
}

label{
    font-weight: 700;
    margin-bottom: 4px;
    color:#44546f;
    font-size: 0.75rem;
    line-height: 1rem;
}

input{
    border:1px solid rgb(193, 199, 208);
    padding: 8px 6px;
    border-radius: 3px;
    width: 100%;
}

input:focus{
    outline-color: #1868DB;
}

input.error{
    outline-color: #AE2E24;
    color:#172B4D;
}

.two{
    border:none;
    padding: 0px;
}

.two button{
    color:#FFFFFF;
    background-color: #1868DB;
     width: 100%;
    height:40px;
    margin-top: 12px;
    border:none;
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}

.oauth{
    margin-top: 20px;
}

.oauth p{
    text-align: center;
    margin: 0 0 16px;
}

.oauth ul{
    list-style: none;
    padding-left: 0;
}

.oauth ul li{
    margin-bottom: 16px;
    height: 40px;
}

li button{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    border:1px solid rgb(193, 199, 208);
    border-radius: 3px;
    cursor: pointer;
}

li button:hover{
    background: rgba(9, 30, 66, 0.02) !important;
}

li button img{
    height: 24px;
    width: 24px;
    margin-right: 6px;
}

li button span{
    color:#172B4D;
    font-weight: bold;
}

.last{
    margin-top: 18px;
    height:20px;
    color: #0C66E4;
    font-size: 14px;
    display: flex;
    justify-content: center;
}
.last a {
    text-decoration: none;
    cursor: pointer;
}
.last a:hover{
    text-decoration: underline;
}

.error{
    color:#AE2E24;
    font-size: 12px;
    margin-top: 4px;
}
