aside{
    min-width: 250px;
    max-width: 700px;
    height:100vh;
    padding: 12px;
    display: flex;
    position: relative;
}

aside .full{
    width:100%;
    height:32px;
    color:#505258;
    display: flex;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
}

aside .full:hover{
    background-color: #F0F1F2;
}

.icons{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width:24px;
    height:100%;
    margin-right: 4px;
}

.icon{
    position: absolute;
    left:3px;
}

.default {
    width:24px;
    height:24px;
}

.hover{
    width:18px;
    height:18px;
    opacity: 0;
}

.full:hover .default{
    opacity: 0;
}

.full:hover .hover {
  opacity: 1;
}

.icon-open{
    opacity: 0;
}

.third{
    width:52px;
    height:24px;
    padding-right: 4px;
    margin-left: auto;
}

.dots .plus{
    width:12px;
    height:12px;
    padding-top: 2px;
}

.button-icon{
    width:24px;
    height:24px;
    cursor: pointer;
    // display: flex;
    // align-items: center;
}

button{
    appearance: none;
    background: none;
    border: none;
}

.drag{
    cursor: ew-resize;
    background-color: #0B120E24;
    width:1px;
    position: absolute;
    top:0;
    bottom: 0;
    right:0;
}

.drag:hover{
    width:3px;
    background-color: #1868DB;
}